{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Health : <span id="health"></span><br/>
            Mood : <span id="mood"></span><br/>
            Hunger : <span id="hunger"></span><br/>
            SleepFul : <span id="sleepful"></span><br/>
            Cleanliness : <span id="cleanliness"></span><br/>
            Happiness : <span id="happiness"></span><br/>
        </div>
        <a href="javascript:void(0);" id="feed" class="btn">Feed</a>
        <a href="javascript:void(0);" id="clean" class="btn">Clean</a>
        <a href="javascript:void(0);" id="play" class="btn">Play</a>
        <a href="javascript:void(0);" id="switch-off-light" class="btn">Switch off light</a>
        <a href="javascript:void(0);" id="heal" class="btn">Heal</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var mood = {
            1:'Sleepy',
            2:'Player',
            3:'Sick',
            4:'Still',
            5:'Natural'
        };

        (function poll(){
            $.ajax({ url: "/howIsMyFish", success: function(data){
                $('#health').html(data['Health']);
                $('#mood').html(mood[data['Mood']]);
                $('#hunger').html(data['Hunger']);
                $('#sleepful').html(data['Sleepful']);
                $('#cleanliness').html(data['Cleanliness']);
                $('#happiness').html(data['Happiness']);
            }, dataType: "json", complete: poll, timeout: 30000 });
        })();

        $('#clean').click(function(){
            $.ajax({ url: "/cleanTheFish", success: function(data){
                if (data['status'] == true){
                    alert('ça brille !');
                } else {
                    alert('Il en reste encore un peu...');
                }
            }, dataType: "json", error: function(data){
                alert('Avec du savon c\'est mieux ?');
            }});
        });

        $('#feed').click(function(){
            $.ajax({ url: "/feedTheFish", success: function(data){
                if (data['status'] == true){
                    alert('Nom Nom Nom !');
                } else {
                    alert('Heyyy ou est ma miette ?');
                }
            }, dataType: "json", error: function(data){
                alert('Oups ! plus de miette ?');
            }});
        });

        $('#play').click(function(){
            $.ajax({ url: "/goFish", success: function(data){
                if (data['status'] == true){
                    alert('ouh yeah !');
                } else {
                    alert('des bubulles ?! encore des bubulles !');
                }
            }, dataType: "json", error: function(data){
                alert('aah ? pas de ballon ?');
            }});
        });

        $('#switch-off-light').click(function(){
            $.ajax({ url: "/inTheDarknessBindThem", success: function(data){
                if (data['status'] == true){
                    alert('And in the darkness... Bind them !');
                } else {
                    alert('Qui a allumé la lumière ?');
                }
            }, dataType: "json", error: function(data){
                alert('tu me borde ?');
            }});
        });

        $('#heal').click(function(){
            $.ajax({ url: "/itsLupus", success: function(data){
                if (data['status'] == true){
                    alert('Merci Docteur !');
                } else {
                    alert('Do you want me to die ?');
                }
            }, dataType: "json", error: function(data) {
                alert('Je crois que je prendrai encore une dose');
            }});
        });
    </script>
{% endblock %}
