{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Health : <span id="health"></span><br/>
            Mood : <span id="mood"></span><br/>
            Hunger : <span id="hunger"></span><br/>
            SleepFul : <span id="sleepful"></span><br/>
            Cleanliness : <span id="cleanliness"></span><br/>
            Happiness : <span id="happiness"></span><br/>
        </div>
        <a href="javascript:void(0);" id="feed" class="btn">Feed</a>
        <a href="javascript:void(0);" id="play" class="btn">Play</a>
        <a href="javascript:void(0);" id="switch-off-light" class="btn">Switch off light</a>
        <a href="javascript:void(0);" id="heal" class="btn">Heal</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function poll(){
            $.ajax({ url: "/tamagotchi/howIsMyFish", success: function(data){
                $('#health').html(data['Health']);
                $('#mood').html(data['Mood']);
                $('#hunger').html(data['Hunger']);
                $('#sleepful').html(data['Sleepful']);
                $('#cleanliness').html(data['Cleanliness']);
                $('#happiness').html(data['Happiness']);
            }, dataType: "json", complete: poll, timeout: 30000 });
        })();
    </script>
{% endblock %}
