#sheep.idle_left {
	background: left 0 / 500% 500% no-repeat url('/spritesheets/white_sheep_1/__white_sheep_1_idle.png');
	animation: idlev 1.5s steps(5) infinite, idleh 0.3s steps(5) infinite;
}

#sheep.idle_right {
	background: left 0 / 500% 500% no-repeat url('/spritesheets/white_sheep_1/__white_sheep_1_idle.png');
	transform: scaleX(-1);
	animation: idlev 1.5s steps(5) infinite, idleh 0.3s steps(5) infinite;
}

@keyframes idlev {
	100% { background-position-y: calc(100% + (100% / 4)); }
}

@keyframes idleh {
	100% { background-position-x: calc(100% + (100% / 4)); }
}